.cityChoose>div{
    border-bottom: .01rem solid #cccccc;
    padding: .06rem .1rem;
}
.cityHeader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;

}
.City-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: .5px solid rgb(235, 237, 240);
    height:.44rem;
    padding-top:.15rem;
}
.alphabet{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: .1rem;
    top: 1rem;
}




