.Recommend{
    margin-bottom: 50px;
    margin-top: 88px;
    position: relative;
}
.content{
    width: 100%;
}
.head-image{
    width: 100%;
    height: 100px;
}
.head-image img{
    width: 100%;
    height: 100%;
}
.bg-color{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 144, 30);
}
.coupon-container{
    width: 90%;
    height: 130px;
    /*background: #cccccc;*/
    margin: auto;
    margin-top: -70px;
    border: 0.2px solid #cccccc;
}
.coupon-container img{
    width: 100%;
    height: 67%;
}
.dd{
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.time-container{
    margin-top: 10px;
}
.recycle-button{
    width: 25%;
    margin-top: 8px;
    margin-bottom: 8px;
    background-image: linear-gradient(-90deg,#ffd629,#fff03b);
    border: 0;
    border-radius: 5px;
}
.sos-navigators-container{
    width: 100%;
    height: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sos-navigators-type{
    width: 20%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sos-navigators-type img{
    width: 100%;
    height: 85%;
}
.sos-navigators-type span{
    margin: auto;
}
.sos-images-container{
    width: 100%;
    height: 76px;
}
.sos-images-container img{
    width: 100%;
    height: 100%;
}
sos-images{
    width: 100%;
    height: 500px;
}
.sos-images-div{
    width: 100%;
    height: 260px;
    margin-top: 4%;
    background: aqua;
}
.sos{
    width: 92%;
    height:90%;
    margin: 5px 4%;
    background: white;
    border: 1px solid #cccccc;
}
.page-float{
    height: 60px;
    width: 60px;
    position: fixed;
    right: 4px;
    bottom:70px ;
}
.page-float img{
    width: 100%;
    height: 100%;
}
