header{
    width: 100%;
    height :7%;
    font-size: 0.16rem;
    text-align: center;
    display: flex;
    justify-content: space-between;  
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 2;
    padding:0 0.1rem ;
 
  
}
header p{
    margin: auto;
}
header .back{
    margin: auto 0;
}
section{
    width: 100%;
    height : 84%;
    background: #fff;
    position: fixed;
    top: 7%;
    overflow: scroll;
   
    
}
section .box{
    
    width: 100%;
    position: absolute;
    
}
section .banner{
    width: 100%;
    height:3.5rem;
    background: #fff;
    padding: 0.15rem;
}

section .banner div{
    width: 100%;
    height: 100%;
    background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url("https://ahs-trade-in-static.aihuishou.com/trade-in-product-img/72d2b7f94c8bb3a7MTU3NDgyNzU2ODU3MQ==.jpg");
}
section .banner div img{
    width:90%;
    height: 100%;
    margin: auto;
}
.modle{
    width: 100%;
    padding: 0 0.1rem;
   
    
}
.choseModel{
    width:100%;
    height: 0.8rem;
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 0.05rem;
    padding: 0.05rem 0.05rem;
    margin: 0.1rem 0;
    
}
.choseModel div{
    width: 100%;
    height: 50%;
    
}
.choseModel div span{
    margin: auto 0;
    font-size: 0.14rem;
    color: #666;
    
   
}
.choseModel div span:nth-child(2){
    
    font-size: 0.16rem;
    color: #fc6232;
   
}
.choseModel div p{
    display: inline-block;
    margin: 0;
    margin: auto;
    color: #000000;
    font-size: 0.14rem;
   
}
.choseModel div:nth-child(2) {
    border-top:1px solid #eee
}
.choseModel2{
    width:100%;
    height: 1.5rem;
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 0.05rem;
    padding: 0.05rem 0.05rem;
    margin: 0.1rem 0;
    
}
.choseModel2 div{
    width: 100%;
    height: 33%;
    
    
}
.choseModel2 div:nth-child(3){
    text-align: center;
}
.choseModel2 div p{
    display: inline-block;
    
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: auto ;
    color: #000000;
    font-size: 0.14rem;
   
}
.choseModel2 div span{
    display: inline-block;
    margin:auto 0;
    font-size: 0.14rem;
    color: #666;
}
.choseModel2 div:nth-child(2) {
    border-top:1px solid #eee
}
.choseModel2 div:nth-child(3) {
    border-top:1px solid #eee
}
.choseModel2 .xinjiu,.shoudan{
    display: flex;
    justify-content: space-between;
}
.nav{
    width: 100%;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    
    background: #fff;
}
.nav li{
  
    width: 33%;
    text-align: center;
  
    font-size: 0.14rem;
    color: #999;
    border-right:1px solid #999;
    margin: auto;

}
.nav li:nth-child(3){
    border:none
}
.xzxj{
    width: 100%;
    padding: 0.1rem;
}
.xzxj div{
    width: 100%;
    border-top:1px solid #000;
    display: flex;
    justify-content: space-between;
    
}
footer{
    width: 100%;
    height :9%;
    position: fixed;
    bottom: 0;
    background: #fff;
}
footer div{
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
footer .kefu{
    width: 15%;
    height : 100%;
  
    font-size: 0.12rem;
    color: #666;
    
}
footer .kefu .erji{
    color: #000000;
    font-size: 0.18rem;
    line-height: 0.1rem;
}
footer .btn1{
    width: 50%;
    height : 100%;
  
    font-size: 0.14rem;
    border-left :1px solid #cccccc;
   
}
footer .btn2{
    width: 35%;
    height : 100%;
    background:#33271f;
    font-size: 0.14rem;
    color: #fff;
}
#components-back-top-demo-custom .ant-back-top {
    bottom: 2rem;
  }
